[Windows system.security] IPv6 gsub causes invalid IPs

The following processor can turn valid IPv6 address into invalid ones.

https://github.com/elastic/integrations/blob/af36780d5654792f68466c42ddeb95627e464d17/packages/system/data_stream/security/elasticsearch/ingest_pipeline/default.yml#L11-L15

Examples:
- `fe80::ffff:ffff:fffe` -> `fe80ffff:fffe`
- `fe80::ffff:ffff:ffff:ffff` -> `fe80ffff:ffff:ffff`

Which then later causes errors such as `'fe80ffff:ffff:ffff' is not an IP string literal.` in other processors. It also causes other issues.
![image](https://github.com/elastic/integrations/assets/1696711/6f189e04-108c-49ec-9c66-ba004c694d57)

I believe this processor's intent is to transform IPs such as `::ffff:192.168.1.1` into `192.168.1.1`. In which case, the pattern should be `^::ffff:` to anchor the pattern at the beginning of the string. (See my [below comment](https://github.com/elastic/integrations/issues/9650#issuecomment-2067108475) for a better proposed solution.)

```
  - gsub:
      field: source.ip
      pattern: "^::ffff:"
      replacement: ""
      ignore_missing: true
```

I tested this in a simulated pipeline using both `fe80::ffff:ffff:fffe` and `::ffff:192.168.1.1` values. It correctly left the former untouched and correctly stripped the prefix from the latter.

References:
- [RFC 5156 Section 2.2](https://www.rfc-editor.org/rfc/rfc5156.html#section-2.2)
- [RFC 4291 Section 2.2](https://www.rfc-editor.org/rfc/rfc4291#section-2.2)
- https://www.ibm.com/docs/en/i/7.5?topic=concepts-ipv6-address-formats


Pinging @elastic/sec-windows-platform (Team:Security-Windows Platform)

I just uncovered a few additional details.

- This pattern is present in several other places in the repo, meaning this issue isn't limited to the Windows pipeline.
  -  https://github.com/search?q=repo%3Aelastic%2Fintegrations%20%3A%3Affff%3A&type=code
- There's a test case with a format that would fail with my proposed solution.
  - https://github.com/elastic/integrations/blob/af36780d5654792f68466c42ddeb95627e464d17/packages/o365/data_stream/audit/_dev/test/pipeline/test-ip-formats-events.json#L52
- This is a more specific regex here, that I think would be the better solution to fix the issue and would cover both cases observed in the test data.
  - https://github.com/elastic/integrations/blob/af36780d5654792f68466c42ddeb95627e464d17/packages/o365/data_stream/audit/elasticsearch/ingest_pipeline/default.yml#L907