[Custom API httpjson]: Preserve casing of custom request headers in Elastic Agent Custom API Integration

### Integration Name

Custom API [httpjson]

### Dataset Name

_No response_

### Integration Version

1.24.0

### Agent Version

8.19

### OS Version and Architecture

N/A

### User Goal

It would be helpful to preserve the casing of header keys defined in `request.transforms` because some API endpoints expect specific casing. This is despite [Section 3.2 of RFC 7230](https://datatracker.ietf.org/doc/html/rfc7230#section-3.2), which states:
>Each header field consists of a case-insensitive field name followed by a colon (":"), optional leading whitespace, the field value, and optional trailing whitespace.

The [documentation](https://pkg.go.dev/net/http#Header.Set) for Golang's `Header.Set`, which is used to define the custom headers, indicates that non-canonical keys can be directly assigned to the map to preserve casing. Otherwise, the header keys are automatically canonicalized. This automatic canonicalization results in keys defined like `x-api-key` being sent as `X-Api-Key`.

 

### Existing Features

The automatic canonicalization discards the original casing defined for the header key.

### What did you see?

The automatic canonicalization discards the original casing defined for the header key.

### Anything else?

_No response_